In [104]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [105]:
df= pd.read_csv("C:/Users/Pablo/Desktop/datasets/sueño_calidad_de_vida.csv")

In [106]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [107]:
df.shape

(374, 13)

In [108]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [109]:
df.dtypes

Person ID                    int64
Gender                      object
Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [110]:
df.head(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [111]:
df.sample(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
95,96,Female,36,Accountant,7.1,8,60,4,Normal,115/75,68,7000,NaN
283,284,Female,50,Nurse,6.0,6,90,8,Overweight,140/95,75,10000,Sleep Apnea
329,330,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
199,200,Male,43,Salesperson,6.5,6,45,7,Overweight,130/85,72,6000,Insomnia
69,70,Female,33,Scientist,6.2,6,50,6,Overweight,128/85,76,5500,NaN

In [112]:
df.tail(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [113]:
#medidas de tendencia central 

#feature age (edad)
df=pd.DataFrame(df, columns=["Age"])

##media
media=df["Age"].mean()
print("La media de edad es:", media)

##mediana
mediana=df["Age"].median()
print("La mediana de edad es:", mediana)

##moda
moda=df["Age"].mode()
print("La moda de edad es:", moda)

La media de edad es: 42.18449197860963
La mediana de edad es: 43.0
La moda de edad es: 0    43
Name: Age, dtype: int64

In [124]:
#feature sleep duration (duracion del sueño)

df=pd.DataFrame(df, columns=["Sleep Duration"]).fillna(0).astype('int64')

##media
media=df['Sleep Duration'].mean()
print("La media de la suracion del sueño es:", media)

##mediana
mediana=df['Sleep Duration'].median()
print("La mediana de la duracion del sueño es:", mediana)

##moda
moda=df['Sleep Duration'].mode()
print("La moda de la duracion del sueño es:", moda)

La media de la suracion del sueño es: nan
La mediana de la duracion del sueño es: nan
La moda de la duracion del sueño es: Series([], Name: Sleep Duration, dtype: int64)

In [120]:
#feature quality of sleep (calidad del sueño) 

df= pd.DataFrame(df,columns=["Quality of Sleep"]).fillna(0).astype('int64')

##media
media=df['Quality of Sleep'].mean()
print("La media de la calidad del sueño es:", media)

##mediana
mediana=df['Quality of Sleep'].median()
print("La mediana de la calidad del sueño es:", mediana)

##moda
moda=df['Quality of Sleep'].mode()
print("La moda de la calidad del sueño es:", moda)

La media de la calidad del sueño es: nan
La mediana de la calidad del sueño es: nan
La moda de la calidad del sueño es: Series([], Name: Quality of Sleep, dtype: int64)

In [121]:
#feature physical activitiy level (nivel de actividad fisica) 

df=pd.DataFrame(df, columns=["Physical Activity Level"]).fillna(0).astype('int64')

##media
media=df["Physical Activity Level"].mean()
print("La media del nivel de actividad fisica:", media)

##mediana
mediana=df["Physical Activity Level"].median()
print("La mediana del nivel de actividad fisica es:", mediana)

##moda
moda=df["Physical Activity Level"].mode()
print("La moda del nivel de actividad fisicaes:", moda)

La media del nivel de actividad fisica: nan
La mediana del nivel de actividad fisica es: nan
La moda del nivel de actividad fisicaes: Series([], Name: Physical Activity Level, dtype: int64)